@layer components {
  /* !!!header!!! */
  .main-header {
    @apply flex flex-col
      fixed z-50 
      w-full h-[140px]
      bg-[#D8E9A8]
      text-[14px]
      

      tablet:flex-col
      tablet:h-[160px]
      tablet:text-[16px]

      desktop:flex-row
      desktop:h-[100px]
      desktop:text-[18px]
      
      dark:bg-[#191A19];
  }

  .logo-area {
    @apply flex justify-center
      w-full h-[100px]

      desktop:justify-end
      desktop:relative
      desktop:w-[30%];
  }

  .logo-img {
    @apply w-[170px] h-[105px] object-contain
    
    desktop:absolute
    desktop:left-0
    desktop:top-[50%];
  }

  .menu-container {
    @apply w-full h-[40px]

    tablet:w-full tablet:h-[60px]

    desktop:flex
    desktop:justify-center
    desktop:items-center
    desktop:w-[70%]
    desktop:h-full;
  }

  .hamburger-icon {
    @apply w-8 h-8
    mt-1 mr-4

    tablet:hidden
    
    desktop:hidden;
  }

  .hamburger-menu {
    @apply hidden
    w-full 
    bg-[#D8E9A8]
    
    dark:bg-[#191A19]
    peer-checked/open:block peer-checked/close:hidden;
  }

  .hamburger-item {
    @apply p-3 mr-4
    text-[#191A19]
    
    dark:text-[#D8E9A8];
  }

  .dark-btn {
    @apply block 
    self-end
    w-[70px] h-[30px]
    leading-[30px]
    text-[#191A19]
    border border-2 border-[#191A19] rounded-lg
    cursor-pointer
    transition-all duration-300
    
    dark:text-[#D8E9A8]
    dark:border-[#D8E9A8]

    hover:scale-110;
  }

  .menu-item {
    @apply block
    p-2 m-2 
    text-[#191A19]
    transition-all duration-300

    dark:text-[#D8E9A8]

    hover:scale-110;
  }

  .dropdown {
    @apply flex flex-col items-center gap-8
    absolute right-0
    opacity-0 invisible
    w-40
    bg-[#D8E9A8] text-[#191A19]
    rounded-b-lg shadow-2xl
    translate-y-2
    transition-all duration-300

    desktop:mt-2
    desktop:translate-y-4

    dark:bg-[#191A19]
    dark:text-[#D8E9A8]

    group-hover:opacity-100
    group-hover:visible
    group-hover:translate-y-0

    desktop:group-hover:translate-y-2;
  }
  /* !!!main page!!! */

  .main-page {
    @apply flex flex-col
    w-full
    pt-[140px]
    bg-linear-to-r from-[#ffffff] to-[#cdcdcd]
    
    tablet:flex-row
    
    dark:bg-linear-to-l dark:from-[#D1D4C9] dark:to-[#40513B];
  }

  .main-page-text {
    @apply w-full
    tablet:w-[50%]
    
    desktop:w-[60%];
  }

  .container-text {
    @apply w-[90%]
    mx-auto mt-4 p-4

    tablet:mt-16
    desktop:w-[60%];
  }

  .text-main-title {
    @apply text-[20px] text-[#8C1007]
    
    dark:text-[#b91c1c];
  }

  .text-title {
    @apply mt-4
    text-[18px] text-[#3a3a3a]
    
    dark:text-black;
  }

  .text-paragraph {
    @apply text-justify
    mt-4 leading-7
    text-[16px] text-[#898989]

    dark:dark:text-[#2B2B2B];
  }

  .text-btn {
    @apply inline-block
    leading-[40px] mt-[34px]
    w-[130px] h-[40px]
    bg-[#fff]
    text-center text-[16px] text-[#4a4a4a]
    border-[1px] border-[#c6c6c6] rounded-lg
    transition-all duration-300
    
    
    hover:bg-red-500 hover:text-white
    
    dark:hover:bg-[#b91c1c];
  }

  .container-img {
    @apply flex justify-start
    w-full
    mt-[70px]
    
    tablet:w-[50%];
  }

  .main-page-img {
    @apply block
    w-[350px] h-[400px] object-contain;
  }

  .golestan-intro {
    @apply w-full
    p-1 mt-2
    
    tablet:border-t-2 tablet:border-[#7A7A7A8E];
  }

  .intro-container {
    @apply w-full
    tablet:w-[90%] tablet:mx-auto
    desktop:w-[40%];
  }

  .intro-title {
    @apply mt-[25px] p-4
    font-bold text-[20px] text-red-500

    dark:text-red-600;
  }

  .intro-text {
    @apply p-2
    text-[16px] leading-8 text-justify text-[#7A7A7A]
    
    dark:dark:text-[#f1f5f4];
  }

  /* !!!stats section!!! */
  .stats-class {
    @apply hidden
    tablet:block tablet:mt-[120px] tablet:mb-8;
  }

  .stat-container {
    @apply flex flex-row-reverse justify-center gap-6
    w-[90%] mx-auto
    desktop:w-[80%];
  }

  .stats {
    @apply shadow-xl
    dark:shadow-[0_1px_4px_white];
  }

  .img-container {
    @apply relative
    overflow-hidden;
  }

  .img-stats {
    @apply block
    w-full h-full object-contain;
  }

  .img-overlay {
    @apply absolute inset-0
    bg-black/60
    opacity-0
    scale-y-0
    origin-bottom
    transition-all duration-300 ease-in-out
    z-10
    group-hover:opacity-100
    group-hover:scale-y-100

    dark:bg-white/60;
  }

  .img-content {
    @apply absolute top-[50%] left-[50%]
    translate-x-[-50%]
    translate-y-[-50%]
    text-center text-white
    opacity-0
    z-20
    transition ease-in-out duration-300
    group-hover:opacity-100

    dark:text-black;
  }
  .product-img {
    @apply relative
    w-full
    mt-10
    border-t border-[#7a7a7a8e] border-t-2

    tablet:mt-32;
  }

  .img-set {
    @apply w-full h-[270px]
    object-cover
    
    tablet:h-[500px];
  }

  .img-text {
    @apply absolute bottom-0 right-0
    w-full h-[80px]
    bg-[#ff0000a8]

    tablet:right-12 tablet:top-[85%]
    tablet:w-[295px] tablet:h-[95px]

    desktop:right-[325px];
  }

  .img-text-title {
    @apply mr-5 mt-1
    text-white text-2xl font-bold;
  }

  .img-text-paragraph {
    @apply mr-5 mt-3
    text-white;
  }

  .product-desc {
    @apply w-full
    p-1 mt-2
    
    tablet:mt-10
    tablet:border-t-2 tablet:border-[#7A7A7A8E];
  }

  .card-container {
    @apply flex flex-col items-center
    mt-8
    w-full
    bg-[#cde4b0]

    tablet:flex-row tablet:justify-around;
  }

  .card {
    @apply flex flex-col
    w-[330px] h-[600px]
    my-8
    bg-white
    rounded-xl
    shadow-xl
    dark:shadow-[0_1px_4px_white];
  }

  .card-img {
    @apply w-full h-[330px]
    p-2
    object-cover
    rounded-2xl;
  }

  .card-desc {
    @apply p-4 mt-6
    text-justify;
  }

  .card-title {
    @apply text-red-500
    text-[20px];
  }

  .card-paragraph {
    @apply text-[#7A7A7A]
    mt-4;
  }

  .crs-section {
    @apply w-full 
    mt-[80px]
    bg-[#105153];
  }

  .crs-div-title {
    @apply flex items-end justify-center
    w-full h-[280px]
    text-white
    text-[20px]
    border-b-2 border-[#0b6265];
  }

  .crs-div-hosp {
    @apply relative
    w-full h-[320px];
  }

  .crs-hosp-text {
    @apply flex flex-col items-center
    p-4;
  }

  .crs-sec-title {
    @apply font-semibold
    text-[18px] text-[#00d8df];
  }

  .crs-hosp-paragraph {
    @apply text-[#bcbec0];
  }

  .crs-hosp-img {
    @apply absolute top-[30%] right-[20%]
    
    tablet:right-[25%]
    desktop:right-[40%];
  }

  .golestan-resp {
    @apply w-full
    p-1 mt-4
    border-t-2 border-[#7A7A7A8E];
  }

  .resp-container {
    @apply w-full
    tablet:w-[90%] tablet:mx-auto
    desktop:w-[40%];
  }

  .resp-title {
    @apply mt-[100px] p-4
    font-bold text-[20px] text-red-500

    dark:text-red-600;
  }

  .resp-text {
    @apply p-2
    text-[16px] leading-8 text-justify text-[#7A7A7A]
    
    dark:dark:text-[#f1f5f4];
  }

  .footer {
    @apply flex flex-col
    mt-14;
  }

  .contact-info {
    @apply flex justify-center items-center gap-x-4
    w-full h-[96px]
    bg-[#eeefef];
  }

  .footer-icon {
    @apply grayscale
      transition-all
      duration-300
      group-hover:grayscale-0
      group-hover:cursor-pointer;
  }

  .red-box {
    @apply w-full h-[25px]
    bg-red-500;
  }

  .main-footer {
    @apply flex flex-col items-center 
    bg-[#D8E9A8] 
    
    tablet:flex-row tablet:justify-around

    dark:bg-[#191A19];
  }

  .footer-item {
    @apply flex flex-col items-center
    mt-4;
  }

  .footer-title {
    @apply mt-5
    text-white text-center font-semibold
    border-b-2 border-[#7A7A7A];
  }
}
