@layer components {
  /* !!!header!!! */
  .main-header {
    @apply flex flex-col
      fixed z-50 
      w-full h-[140px]
      bg-[#D8E9A8]
      text-[14px]
      

      tablet:flex-col
      tablet:h-[160px]
      tablet:text-[16px]

      desktop:flex-row
      desktop:h-[100px]
      desktop:text-[18px]
      
      dark:bg-[#191A19];
  }

  .logo-area {
    @apply flex justify-center
      w-full h-[100px]

      desktop:justify-end
      desktop:relative
      desktop:w-[30%];
  }

  .logo-img {
    @apply w-[170px] h-[105px] object-contain
    
    desktop:absolute
    desktop:left-0
    desktop:top-[50%];
  }

  .menu-container {
    @apply w-full h-[40px]

    tablet:w-full tablet:h-[60px]

    desktop:flex
    desktop:justify-center
    desktop:items-center
    desktop:w-[70%]
    desktop:h-full;
  }

  .hamburger-icon {
    @apply w-8 h-8
    mt-1 mr-4

    tablet:hidden
    
    desktop:hidden;
  }

  .hamburger-menu {
    @apply hidden
    w-full 
    bg-[#D8E9A8]
    
    dark:bg-[#191A19]
    peer-checked/open:block peer-checked/close:hidden;
  }

  .hamburger-item {
    @apply p-3 mr-4
    text-[#191A19]
    
    dark:text-[#D8E9A8];
  }

  .dark-btn {
    @apply block 
    self-end
    w-[70px] h-[30px]
    leading-[30px]
    text-[#191A19]
    border border-2 border-[#191A19] rounded-lg
    cursor-pointer
    transition-all duration-300
    
    dark:text-[#D8E9A8]
    dark:border-[#D8E9A8]

    hover:scale-110;
  }

  .menu-item {
    @apply block
    p-2 m-2 
    text-[#191A19]
    transition-all duration-300

    dark:text-[#D8E9A8]

    hover:scale-110;
  }

  .dropdown {
    @apply flex flex-col items-center gap-8
    absolute right-0
    opacity-0 invisible
    w-40
    bg-[#D8E9A8] text-[#191A19]
    rounded-b-lg shadow-2xl
    translate-y-2
    transition-all duration-300

    desktop:mt-2
    desktop:translate-y-4

    dark:bg-[#191A19]
    dark:text-[#D8E9A8]

    group-hover:opacity-100
    group-hover:visible
    group-hover:translate-y-0

    desktop:group-hover:translate-y-2;
  }
  /* !!!main page!!! */

  .main-page {
    @apply flex flex-col
    w-full
    pt-[140px]
    bg-linear-to-r from-[#ffffff] to-[#cdcdcd]
    
    tablet:flex-row
    
    dark:bg-linear-to-r dark:from-[#D1D4C9] dark:to-[#40513B];
  }

  .main-page-text {
    @apply w-full
    tablet:w-[50%]
    
    desktop:w-[60%];
  }

  .container-text {
    @apply w-[90%]
    mx-auto mt-4 p-4

    tablet:mt-16
    desktop:w-[60%];
  }

  .text-main-title {
    @apply text-[20px] text-[#8C1007]
    
    dark:text-[#ff0000];
  }

  .text-title {
    @apply mt-4
    text-[18px] text-[#3a3a3a]
    
    dark:text-black;
  }

  .text-paragraph {
    @apply text-justify
    mt-4 leading-7
    text-[16px] text-[#898989]

    dark:dark:text-[#F0FFDF];
  }

  .text-btn {
    @apply inline-block
    leading-[40px] mt-[34px]
    w-[130px] h-[40px]
    bg-[#fff]
    text-center text-[16px] text-[#4a4a4a]
    border-[1px] border-[#c6c6c6] rounded-lg
    transition-all duration-300
    
    
    hover:bg-red-500 hover:text-white
    
    dark:hover:bg-[#8C1007] ;
  }

  .container-img {
    @apply flex justify-start
    w-full
    mt-[70px]
    
    tablet:w-[50%];
  }

  .main-page-img {
    @apply block
    w-[350px] h-[400px] object-contain;
  }
}
