@import "tailwindcss";
@import "./component.css";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --font-iransans: "iransans";
}
@font-face {
  font-family: "iransans";
  src: url("../font/IRANSansWeb-Light.woff2") format("woff2");
  src: url("../font/IRANSansWeb-Light.woff") format("woff");
}